h1,h3 {
            font-family:Arial, Helvetica,fantasy, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-weight: bold;
            text-align: center;
        }
        body {
            background-color:gray;
        }
        #links{
            font-size: 20px;
            color:beige;

        }
        .lista{
            font-size: 30px;
            color:bisque

        }